################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/decaying-orbit/v16/Browse.VC.opendb
